@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
    --main-color: #443;
    --sub-color: #F6C55E;
    --least-color: #fff;
    --border-radius: 95% 4% 97% 5% / 4% 94% 3% 95%;
    --border-radius-hover: 4% 95% 6% 95% / 95% 4% 92% 5%;
    --border: .2rem solid var(--main-color);
    --border-hover: .2rem dashed var(--main-color);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 9%;
}

.heading {
    font-size: 9rem;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: .6rem var(--main-color);
    letter-spacing: .2rem;
    text-align: center;
    pointer-events: none;
    position: relative;
    margin-top: 10rem;
}

.heading span {
    position: absolute;
    top: 50%;
    left: 50%;
    color: transparent;
    -webkit-text-stroke: .1rem var(--main-color);
    transform: translate(-50%, -50%);
    width: 100%;
    color: var(--sub-color);
    font-size: 3rem;
}

.sub-heading {
    font-size: 5rem;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: .3rem var(--main-color);
    letter-spacing: .2rem;
    text-align: center;
    pointer-events: none;
}

.btn {
    display: inline-block;
    padding: .9rem 1.5rem;
    border: var(--border);
    border-radius: var(--border-radius);
    color: var(--sub-color);
    background: none;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.7rem;
}

.btn:hover {
    border-radius: var(--border-radius-hover);
    border: var(--border-hover);
}


/* HEADER */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background: #333;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 2rem 9%;
}

.header .logo {
    color: var(--sub-color);
    font-size: 2.3rem;
    position: relative;
}

.header .logo img {
    padding-left: .5rem;
    width: 4.0rem;
    height: 4.0rem;
    position: absolute;
    top: -5px;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.7rem;
    color: var(--least-color);
}


.header .icons a{
    font-size: 3rem;
    color: var(--least-color);
    margin-left: 1.5rem;
}

.header .icons a:hover{
    color: var(--sub-color);
}

.header #toggler{
    display: none;
}

.header .fa-bars{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0,0,0,.3);
    display: none;
}

#menu-btn {
    font-size: 3rem;
    color: var(--sub-color);
    cursor: pointer;
    display: none;
}

/* HOME */

.home {
    min-height: 100vh;
    padding-top: 12rem;
    background: url(../image/Menu_home-bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.home .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .row .content {
    flex: 1 1 42rem;
}

.home .row .image {
    flex: 1 1 42rem;
    padding-top: 10rem;
    text-align: center;
}

.home .row .image img {
    height: 35rem;
    animation: float 4s linear infinite;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0rem);
    }

    50% {
        transform: translateY(-7rem);
    }
}

.home .row .content h3 {
    font-size: 6.5rem;
    color: var(--least-color);
    text-transform: none;
}

.home .row .content h3 span{
    color: var(--sub-color);
    text-transform: uppercase;
}

.home .image-slider {
    text-align: center;
    padding: 3rem 0;
}

.home .image-slider img {
    height: 9rem;
    margin: 0 .5rem;
    cursor: pointer;
    margin-top: 5rem;
}

.home .image-slider img:hover {
    transform: translateY(-2rem);
}



/* ABOUT PAGE*/

.about .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.about .row .image {
    flex: 1 1 42rem;
}

.about .row .image img {
    width: 100%;
    animation: aboutImage 4s linear infinite;
}

@keyframes aboutImage {

    0%,
    100% {
        transform: scale(.9);
        border-radius: var(--border-radius-hover);
    }

    50% {
        transform: scale(.8);
        border-radius: var(--border-radius);
    }
}

.about .row .content {
    flex: 1 1 42rem;
}

.about .row .content .title {
    color: var(--main-color);
    font-size: 3rem;
    line-height: 1.8;
}

.about .row .content p {
    color: var(--main-color);
    font-size: 1.5rem;
    line-height: 1.8;
    padding: 1rem 0;
}

.about .row .content .icons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 3rem;
}

.about .row .content .icons-container .icons {
    flex: 1 1 15rem;
    padding: 1.5rem;
    text-align: center;
    border: var(--border);
    border-radius: var(--border-radius);
}

.about .row .content .icons-container .icons:hover {
    flex: 1 1 15rem;
    padding: 1.5rem;
    text-align: center;
    border-radius: var(--border-radius-hover);
    border: var(--border-hover);
}

.about .row .content .icons-container .icons img {
    height: 5rem;
}

.about .row .content .icons-container .icons h3 {
    font-size: 1.7rem;
    padding-top: 1rem;
    color: var(--main-color);
}

.about .row1 .img-container{
    flex: 1 1 40rem;
    position: relative;
}


.about .row1 .img-container img{
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    object-fit: cover;
}


.about .row1 .img-container h3{
    position: absolute;
    top: 0%;
    font-size: 3rem;
    background: var(--sub-color);
    width: 100%;
    padding: 1.5rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}

.about .row1 .content{
    flex: 1 1 40rem;
}

.about .row1 .content h3{
    font-size: 3rem;
    color: #333;

}

.about .row1 .content p{
    font-size: 1.5rem;
    color: #999;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 1.5;

}

/* MENU */

.product {
    background: url(../image/menu-bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.product .box-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}

.product .box-container .box {
    position: relative;
    width: 30rem;
    flex: 1 1 21rem;
    padding: 1rem;
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: var(--least-color);
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-left: 3rem;
}

.product .box-container .box .discount{
    position: absolute;
    top: 1rem; left: 2rem;
    padding: .7rem 1rem;
    font-size: 2rem;
    color: var(--least-color);
    background: var(--sub-color);
    z-index: 1;
    border-radius: .5rem;
}

.product .box-container .box:hover {
    border: var(--border-hover);
    border-radius: var(--border-radius-hover);
}

.product .box-container .box .image{
    position: relative;
    text-align: center;
    padding-left: 2rem;
    overflow: hidden;
}

.product .box-container .box .image img{
    height: 30rem;
    border: #111 solid 1rem;
}

.product .box-container .box:hover .image img{
    transform: scale(1.1);
}

.product .box-container .box .image .icons{
    position: absolute;
    bottom: -7rem; left: 0; right: 0;
    display: flex;
}

.product .box-container .box:hover .image .icons{
    bottom: 0;
}

.product .box-container .box:hover .image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 1.5rem;
    width: 45%;
    background: var(--sub-color);
    color: #fff;
}

.product .box-container .box:hover .image .icons .cart-btn{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width: 80%;
}

.product .box-container .box:hover .image .icons a:hover{
    background: #333;
}

.product .box-container .box .content{
    padding: 1rem;
    text-align: center;
}

.product .box-container .box .content h3{
    font-size: 2.5rem;
    color: #333;
}

.product .box-container .box .content .price{
    font-size: 2.5rem;
    color: var(--sub-color);
    font-weight: bolder;
    padding-top: 1rem;
}

.product .box-container .box .content .price span{
    font-size: 1.5rem;
    color: #111;
    font-weight: lighter;
    text-decoration: line-through;
}

/* REVIEW */

.other .review-slider {
    padding: 7rem 0;
}

.other .review-slider .box {
    border: var(--border);
    border-radius: var(--border-radius);
    text-align: center;
    position: relative;
    z-index: 0;
    padding: 2rem;
}

.other .review-slider .box .fa-quote-left {
    position: absolute;
    top: 2rem;
    left: 2.5rem;
    font-size: 6rem;
    color: #ccc;
    z-index: -1;
}

.other .review-slider .box .fa-quote-right {
    position: absolute;
    bottom: 2rem;
    right: 2.5rem;
    font-size: 6rem;
    color: #ccc;
    z-index: -1;
}

.other .review-slider .box:hover .fa-quote-left {
    top: -6.5rem;
}

.other .review-slider .box:hover .fa-quote-right {
    bottom: -6.5rem;
}

.other .review-slider .box img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    margin-bottom: .7rem;
}

.other .review-slider .box .stars {
    padding: .5rem 0
}

.other .review-slider .box .stars i {
    font-size: 1.7rem;
    color: var(--sub-color);
}

.other .review-slider .box p {
    font-size: 1.6rem;
    color: var(--main-color);
    padding: 1rem 0;
    line-height: 1.8;
}

.other .review-slider .box h3 {
    font-size: 2.2rem;
    color: var(--main-color);
    line-height: 1.8;
}

.other .review-slider .box span {
    font-size: 1.5rem;
    color: var(--main-color);
}

.swiper-pagination-bullet {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 0;
}

.swiper-pagination-bullet-active {
    background: var(--main-color);
}

/* BOOK */

.contact {
    background: url(../image/book-bg.jpg);
    background-position: center;
    background-size: cover;
}

.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.contact form {
    margin: 0 auto 2rem auto;
    max-width: 60rem;
    border-radius: var(--border-radius-hover);
    padding: 3rem;
    border: var(--border);
}

.contact form .box {
    width: 100%;
    padding: 1rem 1.2rem;
    border-radius: .5rem;
    font-size: 1.6rem;
    background: none;
    text-transform: none;
    color: var(--main-color);
    border: var(--border);
    margin: .7rem 0;
}

.contact form .box:focus {
    border: var(--border-hover);
}

.contact form textarea {
    height: 15rem;
    resize: none;
}

.contact .row  .image{
    flex: 1 1 40rem;

}

.contact .row .image img{
    width: 100%;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    padding: 1rem 0;
    color: var(--main-color);
}

.footer .box-container .box a {
    display: block;
    font-size: 1.5rem;
    padding: 1rem 0;
    color: var(--main-color);
}

.footer .box-container .box #unique {
    display: block;
    font-size: 1.5rem;
    padding: 1rem 0;
    color: var(--main-color);
    text-transform: lowercase;
}

.footer .box-container .box a i {
    padding-right: .5rem;
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
}

.footer .credit {
    text-align: center;
    font-size: 2rem;
    padding: 2rem 1rem;
    margin-top: 1rem;
    color: var(--main-color);
}

.footer .credit span {
    border-bottom: var(--border-hover);
}



























/* MEDIA QUERIES */

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 3rem;
    }

    section {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    .heading {
        font-size: 6rem;
    }

    .heading span {
        font-size: 2.3rem;
    }

    #menu-btn {
        display: initial;
    }

    #menu-btn.fa-times {
        transform: rotate(180deg);
    }

    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: var(--main-color);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a {
        display: block;
        font-size: 2.2rem;
        margin: 0;
        padding: 1.5rem 2rem;
        color: var(--sub-color);
    }

    .home {
        text-align: center;
    }

    .home .row .content h3 {
        font-size: 4rem;
    }

    .product .box-container .box {
        margin-left: 0;
        margin-top: 6rem;
        flex-flow: column;
        text-align: center;
    }

    .product .box-container .box img {
        margin-left: 0;
        margin-top: -1rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .home .row .image img {
        height: auto;
        width: 100%;
    }
}